%p#notice= notice

%p
  %b Name:
  = link_to category.name, category

%p
  - category.products.each do |product|
    = product.title

%p
  %h3 New product
  = render 'products/form'

= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning'

= link_to 'Back', categories_path, class: 'btn btn-primary'
