= link_to "Categories", categories_path, class: 'label label-default'

%h1 Listing products

.container.col-lg-12
  %table.table
    %tr
      %th.col-lg-3 Title
      %th.col-lg-6 Description
      %th.col-lg-1 Price
      %th.col-lg-2

    - category.products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td
          = link_to 'Show', category_product_path(product.category, product), class: "btn btn-info btn-xs"
          - if user_signed_in?
            - if current_user.id == product.user_id
              = link_to 'Edit', edit_category_product_path(product.category, product), class: "btn btn-warning btn-xs"
              = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"        

  %br

  = link_to "Add product", new_category_product_path, class: 'btn btn-success'
