%p#notice= notice
%p#error= flash[:error]

%p
  %h3
    = product.title
    .span.label.label-danger.label-as-badge= product.average_rating
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = link_to product.category.name, categories_path, class: 'label label-default'

- if user_signed_in?
  - if current_user.id = product.user_id
    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-warning btn-xs'

= link_to 'Back', category_products_path, class: 'btn btn-primary btn-xs'

%h3 Reviews

- if user_signed_in?
  = render 'reviews/form'

= render reviews
